@import "common.css";

/* @import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700"); */

/* NAVBAR BEGIN */

body, html { 
  overflow-x:hidden; 
}

.ftco-section {
  padding: 0em 0;
}

.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}

.ftco-navbar-light {
  background: var(--tg-main-color-page-element) !important;
  z-index: 3;
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

@media (max-width: 991.98px) {
  .ftco-navbar-light {
    background: var(--tg-main-color-page-element) !important;
    position: relative;
    top: 0;
    padding: 10px 15px;
  }
}

.ftco-navbar-light .navbar-brand {
  color: #000;
  text-transform: uppercase;
}

.ftco-navbar-light .navbar-brand:hover,
.ftco-navbar-light .navbar-brand:focus {
  color: #000;
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-brand {
    color: #fff;
  }
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav {
    padding-bottom: 10px;
  }
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
  font-size: 13px;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  color: gray;
  position: relative;
  opacity: 1 !important;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: var(--tg-main-color-active);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  z-index: -1;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
  color: var(--tg-main-color-active);
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover:before {
  visibility: visible;
  background-color: var(--tg-main-color-active);
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link.active { 
  color: var(--tg-main-color-active);
}

.ftco-navbar-light .navbar-nav>.nav-item:has(.nav-link.active) {
  border-bottom: 1px solid var(--tg-main-color-active) !important;
}

@media (max-width: 991.98px) {

  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link.active { 
    color: var(--tg-main-color-active);
    border-left: 2px solid var(--tg-main-color-active);
  }
  
  .ftco-navbar-light .navbar-nav>.nav-item:has(.nav-link.active) {
    border-bottom: 0px !important;
  }

  .ftco-navbar-light .navbar-nav {
    padding-top: .7rem;
  }

  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    padding-left: 1rem; 
    padding-right: 0;
    padding-top: .3rem;
    padding-bottom: .3rem;
    color: gray;
    border-left: 1px solid gray;
  }

  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
    /* color: var(--tg-main-color-active);
    border-left: 2px solid var(--tg-main-color-active); */
  }

  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover:before {
    display: none;
  }
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu {
  border: none;
  background: var(--tg-main-color-page-element);
  -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  border-radius: 4px;
  padding: 0;
}

.dropdown-toggle:hover {
  cursor: pointer;
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item {
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #000;
} 

.dropdown-toggle-img {
  height: 20px;
}

.dropdown-item-img {
  height: 23px;
  border: 2px solid var(--tg-main-color-page-element);
}

.dropdown-item-img:hover,
.dropdown-item-img:focus {
  border: 2px solid var(--tg-main-color-active);
  cursor: pointer;
}

.dropdown-item:active {
  background-color: var(--tg-main-color-page-element);
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item:hover,
.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item:focus {
  color: var(--tg-main-color-page-element);
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu {
    display: block !important;
    background: var(--tg-main-color-page-element);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0;
  }

  .ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item {
    color: rgba(255, 255, 255, 0.8);
  }
}

.ftco-navbar-light .navbar-nav>.nav-item.cta>a {
  color: #fff;
  background: var(--tg-main-color-active);
  border-radius: 0px;
}

@media (max-width: 767.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
    color: #000;
    background: var(--tg-main-color-active);
    border-radius: 4px;
  }
}

.ftco-navbar-light .navbar-nav>.nav-item.active>a {
  color: #000;
}

.ftco-navbar-light .navbar-nav>.nav-item.active>a:before {
  visibility: visible;
  background-color: var(--tg-main-color-active);
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item.active>a {
    color: var(--tg-main-color-active);
    border-left: 2px solid var(--tg-main-color-active);
  }

  .ftco-navbar-light .navbar-nav>.nav-item.active>a:before {
    display: none;
  }
}

.ftco-navbar-light .navbar-toggler {
  border: none;
  color: #000 !important;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .1em;
}

.ftco-navbar-light .navbar-toggler:hover {
  color: var(--tg-main-color-active) !important;
}

.ftco-navbar-light .navbar-toggler:focus {
  outline: none !important;
}

.navbar-brand {
  height: 54px;
  margin-right: -200px;
}

/* NAVBAR END */
/* ------------------------------------------------------------ */
/* ABOUT ME BEGIN */

.tg-about-debug {
  /* border: 1px solid #000; */
}

.tg-about-round-picture-img {
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(0, 0, 0, .25);
  background: #fff;
  width: 500px !important;
  height: 500px;
  padding: 0px;
  margin: 15px auto !important;
}

.tg-about-title {
  /* margin-top: 100px; */
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--tg-main-color-inactive);
}

.tg-about-description {
  /* align-self: baseline; */
  width: 350px !important;
  text-align: center;
  align-self: center;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--tg-main-color-page-element-dark);
}

.tg-about-behind-bg-container {
  /* transform: translateY(-80%); */
  /* z-index: 340; */
  /* position: absolute; */
}

.tg-about-behind-bg {
  /* align-self: flex-start; */
  /* display: block; */
  width: 100px;
  height: 400px;
  /* z-index: 9; */
  position: absolute;
  
}

/* ABOUT ME END */
/* ------------------------------------------------------------ */
/* CAROUSEL BEGIN */

.body-custom {
  background-color: var(--tg-main-color-page-background);
  width: 100%;
}

/*common style*/
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Rajdhani:wght@300;400;600;700&display=swap'); */

body {
  color: #555555;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--dark);
}

a:hover {
  text-decoration: none;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0px 15px 0px;
  color: #555555;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 15px;
  letter-spacing: 1.2px;
  font-weight: 400;
}

h3 {
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 1.1px;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1px;
  font-weight: 400;
}

.icons_cont {
  text-align: center;
}

.round_icon_img {
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(0, 0, 0, .25);
  background: #fff;
  width: 100px !important;
  height: 100px;
  padding: 16px;
  margin: 15px auto !important;
}

.round_icon_img i {
  font-size: 70px;
  color: #1586f0;
}

.round_picture_img {
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(0, 0, 0, .25);
  background: #fff;
  width: 92px !important;
  height: 92px;
  padding: 0px;
  margin: 15px auto !important;
}

@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

.owl-carousel .owl-nav .owl-prev:focus,
.owl-carousel .owl-nav .owl-next:focus {
  outline: none;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  outline: none;
}

/*common styling end*/

/*------/ Owl carousel /------*/
/* tg-carousel */
.tg-carousel .owl-theme .owl-dots {
  text-align: center;
  margin-top: 18px;
}

.tg-carousel .owl-theme .owl-dots .owl-dot {
  display: inline-block;
}

.tg-carousel .owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 5px;
  background: var(--tg-main-color-inactive);
  /* border: 0px solid #1586f0; */
  display: block;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  border-radius: 50%;
}

.tg-carousel .owl-theme .owl-dots .owl-dot:hover span {
  color: var(--tg-main-color-page-element);
  background: var(--tg-main-color-active);
  /*  border: 5px double;*/
  padding: 5px;
  border-radius: 50%;
}

.tg-carousel .owl-theme .owl-dots .owl-dot.active span {
  color: var(--tg-main-color-page-element);
  /* border: 5px double;*/
  /* opacity: 0.8; */
  padding: 5px;
  border-radius: 50%;
  background: var(--tg-main-color-active);
}

.tg-carousel .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 42%;
  right: -40px;
  padding: 0px 15px 6px 15px !important;
  background: var(--tg-main-color-page-element);
  display: inline-block;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 35px;
  line-height: 35px;
  color:  var(--tg-main-color-inactive-dark);;
  border: 1px solid var(--tg-main-color-inactive);
  /* box-shadow: 0 0 8px rgba(0, 0, 0, .25); */
}

.tg-carousel .owl-carousel .owl-nav button.owl-next:hover {
  color: var(--tg-main-color-active);
  border: 1px solid var(--tg-main-color-active);
}

.tg-carousel .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 42%;
  left: -40px;
  padding: 0px 15px 6px 15px !important;
  background: var(--tg-main-color-page-element);
  display: inline-block;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 35px;
  line-height: 35px;
  color:  var(--tg-main-color-inactive-dark);;
  border: 1px solid var(--tg-main-color-inactive);
  /* box-shadow: 0 0 8px rgba(0, 0, 0, .25); */
}

@media (hover: none) {    
	.tg-carousel .owl-carousel .owl-nav button.owl-prev {
    display: none;
  }

  .tg-carousel .owl-carousel .owl-nav button.owl-next {
    display: none;
  }
}

.tg-carousel .owl-carousel .owl-nav button.owl-prev:hover {
  color: var(--tg-main-color-active);
  border: 1px solid var(--tg-main-color-active);
}

.tg-carousel .owl-arrow .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;
}

.tg-carousel .owl-arrow .owl-nav .owl-prev,
.tg-carousel .owl-arrow .owl-nav .owl-next {
  display: inline-block;
  transition: all 0.6s ease-in-out;
  color: #000000;
}

.tg-carousel-work {
  align-self: center;
}

.tg-carousel-posts {
  align-self: center;
}

.tg-carousel .main_services-posts {
  position: relative;
  margin: 30px 55px 40px 55px;
  padding: 40px 15px 32px 15px;
  overflow: hidden;
  text-align: center;
  border: 1px solid var(--tg-main-color-inactive);
  border-radius: 8px 8px;
  /* box-shadow: 12px 14px 0 #ececec; */
  /* box-shadow: 3px 3px 3px 3px rgba(76, 110, 245, .1); */
  min-height: 600px;
  transition: all .3s;
}

.tg-carousel .main_services-posts::before {
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.tg-carousel .main_services-posts:hover {
  border: 1px solid var(--tg-main-color-active);
  /* box-shadow: none; */
  transform: scale(1.052);
  cursor: pointer;
}

.tg-carousel .main_services-work {
  position: relative;
  margin: 30px 0px 40px 0px;
  padding: 40px 15px 32px 15px;
  overflow: hidden;
  text-align: center;
  border: 1px solid var(--tg-main-color-inactive);
  border-radius: 8px 8px;
  /* box-shadow: 12px 14px 0 #ececec; */
  /* box-shadow: 3px 3px 3px 3px rgba(76, 110, 245, .1); */
  min-height: 348px;
  transition: all .3s;
}

.tg-carousel .main_services-work::before {
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.tg-carousel .main_services-work:hover {
  border: 1px solid var(--tg-main-color-active);
  /* box-shadow: none; */
  transform: scale(1.052);
  cursor: pointer;
}

/*// sec 01 end*/
/* ---------------------------------------------------------------------- */
/* FAQ BEGIN ------------------------------------------------------------ */

.accordion-card:hover {
  border: 1px solid var(--tg-main-color-active);
}

.collapsible-link::before {
  content: '';
  width: 14px;
  height: 2px;
  background: #333;
  position: absolute;
  top: calc(50% - 1px);
  right: 1rem;
  display: block;
  transition: all 0.3s;
}

.collapsible-link::after {
  content: '';
  width: 2px;
  height: 14px;
  background: #333;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

.collapsible-link[aria-expanded='true']::after {
  transform: rotate(90deg) translateX(-1px);
}

.collapsible-link[aria-expanded='true']::before {
  transform: rotate(180deg);
}

.accordion-card:has(.collapsible-link[aria-expanded='true']) {
    border: 1px solid var(--tg-main-color-active);
}

@media (hover: none) {  
  .accordion-card:hover {
    border: 1px solid var(--tg-main-color-inactive);
  }

	.accordion-card:has(.collapsible-link[aria-expanded='true']) {
    border: 1px solid var(--tg-main-color-inactive-dark);
  }
}

/* FAQ END   ------------------------------------------------------------ */
/* ---------------------------------------------------------------------- */
/* SERVICES BEGIN */

.tg-services-round-picture-img {
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(0, 0, 0, .25);
  background: #fff;
  width: 110px !important;
  height: 110px;
  padding: 0px;
  margin: 15px auto !important;
}

.tg-services-row-container {
  padding-left: 40px;
  padding-right: 40px;
}

.tg-services-row-element {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

@media (max-width: 991.98px) {
  .tg-services-row-element {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 712.98px) {
}

@media (max-width: 514.98px) {
  .tg-services-row-element {
    padding-left: 0px;
    padding-right: 0px;
  }

  .tg-services-round-picture-img {
    width: 72px !important;
    height: 72px;
    margin: 10px auto !important;
  }
}

/* SERVICES END   ------------------------------------------------------------ */
/* ---------------------------------------------------------------------- */
/* CONTACT BEGIN */

.form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  background: none;
  border-left: 1px solid var(--tg-main-color-page-element);
  border-right: 1px solid var(--tg-main-color-page-element);
  border-top: 1px solid var(--tg-main-color-page-element);
  padding: 5px;
}

.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid var(--tg-main-color-active);
  border-radius: 5px;
  background-color: var(--tg-main-color-page-element);
}

/* .form-control:not(.form-control:focus, .form-control:hover) {
  border-bottom: 1px solid var(--tg-main-color-inactive);
} */

.form-control:hover {
  border-bottom: 1px solid var(--tg-main-color-active);
}

.form-control:hover::placeholder {
  color: var(--tg-main-color-active);
}

.form-control:focus::placeholder {
  color: var(--tg-main-color-active);
}

@media (hover: none) {  
  /* .form-control {
    border-bottom: 1px solid var(--tg-main-color-inactive);
  } */

  /* .form-control:hover::placeholder {
  } */
}

.col-form-label {
  color: #000;
  font-size: 13px;
}

.btn,
.form-control,
.custom-select {
  height: 45px;
}

.custom-select:active,
.custom-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.btn {
  font-size: 12px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  border-radius: 5px 5px;
}

.btn.btn-primary {
  border: 2px solid var(--tg-main-color-inactive);
  background: var(--tg-main-color-page-element);
  color: #3b3b3b;
  padding: 15px 20px;
}

.btn:hover {
  border: 2px solid var(--tg-main-color-active);
  color: var(--tg-main-color-active);
}

.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.contact-wrap .col-form-label {
  font-size: 14px;
  color: #b3b3b3;
  margin: 0 0 10px 0;
  display: inline-block;
  padding: 0;
}

.contact-wrap .form,
.contact-wrap .contact-info {
  padding: 40px;
}

.contact-wrap .contact-info {
  color: rgba(255, 255, 255, 0.5);
}

.contact-wrap .contact-info ul li {
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.5);
}

.contact-wrap .contact-info ul li .wrap-icon {
  font-size: 20px;
  color: #fff;
  margin-top: 5px;
}

.contact-wrap .form {
  background: var(--tg-main-color-page-element);
}

.contact-wrap .form h3 {
  /* color: #35477d; */ /* TODO :: chage with page style text color */
  font-size: 20px;
  margin-bottom: 30px;
}

.contact-wrap .contact-info {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.contact-wrap .contact-info a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 1199.98px) {
  .contact-wrap .contact-info {
    height: 400px !important;
  }
}

.contact-wrap .contact-info h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
}

label.error {
  font-size: 12px;
  color: red;
}

#message {
  resize: vertical;
}

#form-message-warning,
#form-message-success {
  display: none;
}

#form-message-warning {
  color: #B90B0B;
}

#form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold;
}

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000;
}

.contact-txt-area {
  min-height: 150px;
  max-height: 350px;
}

.constact-right-column {
  background-color: var(--tg-main-color-page-element);
  border-left: 1px solid var(--tg-main-color-inactive)
}

.contact-map-area {
  border: 1px solid var(--tg-main-color-page-element);
  margin-top: 1em;
}

.contact-map-area:hover {
  border: 1px solid var(--tg-main-color-active);
}

@media (hover: none) {  
  .contact-map-area {
    border: 1px solid var(--tg-main-color-page-element);
  }
  
  .contact-map-area:hover {
    border: 1px solid var(--tg-main-color-page-element);
  }
}

.contact-label-text {
  padding-bottom: 20px;
}

@media (max-width: 768.98px) {
  .constact-right-column {
    border: 0;
  }

  .contact-label-text {
    /* padding-bottom: 20px; */
    /* align-content: left; */
    padding: 0;
    text-align: center;
  }
}

/* CONTACT END */
/* ---------------------------------------------------------------------- */
/* SOCIALS BEGIN */

.fa-social-btn {
  margin: 4px;
  width: 70px;
  height: 70px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  /* font-size: 40px; */
  padding-top: 20px;
  color: var(--tg-main-color-inactive-dark);
  border: 2px solid var(--tg-main-color-inactive);
}

.fa-social-btn:hover {
  color: var(--tg-main-color-active);
  border: 2px solid var(--tg-main-color-active);
}

.fa-linkedin,
.fa-instagram {
  padding-top: 18px;
}

.socials-me {
  padding-top: 0px;
  padding-bottom: 0px;
}

.socials-h4 {
  display: none;
}

@media (max-width: 768.98px) {
  .fa-social-btn {
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .socials-h4 {
    display: block;
    text-align: center;
  }
  
  .socials-me {
    padding-top: 0px;
    padding-bottom: 0px;
    /* align-items: center; */
    text-align: center;
  }
}

@media (hover: none) {    
	.fa-social-btn:hover {
    color: var(--tg-main-color-inactive-dark);
    border: 2px solid var(--tg-main-color-inactive);
  }

  .fa-2x.fa-social-btn {
    margin: 3px;
    width: 45px;
    height: 45px;
    font-size: 1em;
    padding-top: 14px;
  }

  .fa-linkedin.fa-social-btn,
  .fa-instagram.fa-social-btn {
    padding-top: 13px;
  }

  .fa-facebook.fa-social-btn {
    padding-right: 1px;
  }
}

/* SOCIALS END */
/* ---------------------------------------------------------------------- */
/* BEGIN BACK TO TOP BTN */

#btn-back-to-top {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s ease-in;
  position: fixed;
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
  /* background: rgba(255, 255, 255, 0.4); */
  border: 2px solid var(--tg-main-color-inactive);
  background: none;
  color: var(--tg-main-color-inactive-dark);

  /* font-size: 15px; */
}

#btn-back-to-top:hover {
  border: 2px solid var(--tg-main-color-active);
  color: var(--tg-main-color-active);
}

#btn-back-to-top:active,
#btn-back-to-top:focus {
  /* outline: none; */
  -webkit-box-shadow: none;
  box-shadow: none;
  /* border-color: #000; */
}

@media (hover: none) {
	#btn-back-to-top:hover {
    border: 2px solid var(--tg-main-color-inactive);
    color: var(--tg-main-color-inactive-dark);
  }
}

/* ---- */

.blok:nth-of-type(odd) {
  background-color:white;
  }
      
  .blok:nth-of-type(even) {
  background-color:black;
  }
  
  @-webkit-keyframes border-transform{
      0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
    14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
    28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
    42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
    56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
    70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
    84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
  }

.progress-wrap {
	position: fixed;
	right: 30px;
	bottom: 30px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset  0 0 0 2px rgba(0,0,0,0.1);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.progress-wrap::after {
	position: absolute;
	font-family: 'fontawesome';
	content: '\f077';
	text-align: center;
	line-height: 46px;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.3); /* --- Pijl kleur --- */
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::after {
	opacity: 0;
}
.progress-wrap::before {
	position: absolute;
	font-family: 'fontawesome';
	content: '\f077';
	text-align: center;
	line-height: 46px;
	font-size: 20px;
	opacity: 0;
	background: var(--tg-main-color-active);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::before {
	opacity: 1;
}
.progress-wrap svg path { 
	fill: none; 
}
.progress-wrap svg.progress-circle path {
	stroke: rgba(0, 0, 0, 0.2); /* --- Lijn progres kleur --- */
	stroke-width: 4;
	box-sizing:border-box;
	-webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

/* ---- */



/* END BACK TO TOP BTN */
/* ---------------------------------------------------------------------- */
/* BEGIN WORK SCHEDULE */

h5.tg-work-schedule {
  margin-bottom: .4em;
}

p.tg-work-schedule {
  margin-left: 10px;
  margin-top: .4em;
  margin-bottom: .4em;
}

/* END WORK SCHEDULE */
/* ---------------------------------------------------------------------- */
/* BEGIN FOOTER */

.tg-footer {
  border-top: 1px solid var(--tg-main-color-inactive);
}

.tg-footer-menu-item {
  padding-left: 5px;
  /* padding-top: .em; */
  /* padding-top: -90px; */
  line-height: 8px;
  color: var(--tg-main-color-inactive-dark);
}

.tg-footer-menu-item:hover {
  color: var(--tg-main-color-active);
}

.tg-footer-copyright {
  margin: 20px;
}

.tg-footer-copyright-link {
  color: var(--dark);
}

.tg-footer-copyright-link:hover {
  color: var(--tg-main-color-active);
}

.tg-footer-copyright-link-pos-a {
  display: inline;
}

@media (hover: none) {
	.tg-footer-copyright-link:hover {
    color: var(--dark);
    border-bottom: 1px solid var(--dark);
  }

  .tg-footer-copyright-link-pos-a {
    display: grid;
  }
}

/*less than 767px*/
@media only screen and (max-width:575px) {
  .tg-footer-copyright-link-pos-a {
    display: grid;
  }
}

/* END FOOTER */
/* ----------------------------------------------------------------------*/

.honeypot-field {
  display: none;
}

/*media query start */

/*less than 575px*/
@media only screen and (max-width:380px) {}

/*less than 575px*/
@media only screen and (max-width:575px) and (min-width: 380px) {}

/*less than 767px*/
@media only screen and (max-width:768px) and (min-width:575px) {}

/*less then 992px and less than 768*/
@media only screen and (max-width:993px) and (min-width:768px) {}

/*less then1140px and less than 993*/
@media only screen and (max-width:1140px) and (min-width: 993px) {}

@media only screen and (max-width:1366px) and (min-width: 1141px) {}

/* end of media query */
/* ---------------------------------------------------------------------- */